page-login {
    
    .fondo{
    background-color:#00BCD4 !important;
    }

    .center {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    img.center{
        margin-top:150px !important;
        width: 200px;
    }

}